name: Salesforce CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Salesforce CLI
        run: |
          npm install sfdx-cli --global

      - name: Authenticate Dev Hub
        run: echo "${{ secrets.SFDX_AUTH_URL_DEVHUB }}" > authUrl.txt
      - run: sfdx auth:sfdxurl:store -f authUrl.txt -a DevHub

      - name: Create Scratch Org
        run: sfdx force:org:create -f config/project-scratch-def.json -a CIOrg -s -d 1

      - name: Push Source
        run: sfdx force:source:push

      - name: Run Apex Tests
        run: sfdx force:apex:test:run --resultformat human --outputdir test-results --wait 10

      - name: Delete Scratch Org
        run: sfdx force:org:delete -u CIOrg -p
``
